[Unit]
Description=Run LNA SQM Network central ingestion periodically

[Timer]
OnBootSec=1min
OnUnitInactiveSec=2min
RandomizedDelaySec=20s
AccuracySec=10s
Unit=sqm-ingest.service

[Install]
WantedBy=timers.target
