[Unit]
Description=Run LNA SQM Network node synchronization periodically

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
RandomizedDelaySec=30s
AccuracySec=15s
Unit=sqm-sync.service

[Install]
WantedBy=timers.target
